
/GearsVGE.suo
/GearsVGE/obj/x86/Debug/GearsVGE.dll
/GearsVGE/obj/x86/Debug/GearsVGE.pdb
/GearsVGE/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
/GearsVGE/obj/x86/Debug/ResolveAssemblyReference.cache
/GearsVGE/bin/x86/Debug/GearsVGE.dll
/GearsVGE/bin/x86/Debug/GearsVGE.dll.config
/GearsVGE/bin/x86/Debug/GearsVGE.pdb
/GearsVGE/Content/obj/x86/Debug/ContentPipeline.xml
/GearsVGE/Content/obj/x86/Debug/ResolveAssemblyReference.cache
/GearsVGE/Content/obj/x86/Debug/Content.contentproj.FileListAbsolute.txt
/GearsVGE/GearsVGE.csproj.Debug.cachefile