
/GearsVGE/GearsVGE.suo
/GearsVGE/GearsVGE/obj/x86/Debug/GearsVGE.dll
/GearsVGE/GearsVGE/obj/x86/Debug/GearsVGE.pdb
/GearsVGE/GearsVGE/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
/GearsVGE/GearsVGE/obj/x86/Debug/ResolveAssemblyReference.cache
/GearsVGE/GearsVGE/bin/x86/Debug/GearsVGE.dll
/GearsVGE/GearsVGE/bin/x86/Debug/GearsVGE.dll.config
/GearsVGE/GearsVGE/bin/x86/Debug/GearsVGE.pdb
/GearsVGE/GearsVGE/Content/obj/x86/Debug/ContentPipeline.xml
/GearsVGE/GearsVGE/Content/obj/x86/Debug/ResolveAssemblyReference.cache
/GearsVGE/GearsVGE/Content/obj/x86/Debug/Content.contentproj.FileListAbsolute.txt
/GearsVGE/GearsVGE/GearsVGE.csproj.Debug.cachefile
/GearsVGE/GearsVGE/obj/x86/Debug/cachefile-8d0e916d-7c37-4604-8397-beac514e51a0-targetpath.txt
/GearsVGE/GearsVGE/obj/x86/Debug/GearsVGE.csproj.FileListAbsolute.txt
/GearsVGE/GearsVGE/bin/x86/Debug/Content/Fonts/MenuItem.xnb
/GearsVGE/GearsVGE/bin/x86/Debug/Content/Fonts/MenuFont.xnb
/GearsDebug/GearsDebug.suo